.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.msg_warning{
  height: 16px;
  font-size: 16px;
  color: red;
  text-align: center;
}
.am-tab-bar{
  position: fixed;
  bottom:0;
  width: 100%;
}
.fixd-header .am-navbar{
  position: fixed;
  top: 0;
  width: 100%;
}
.page-content{
  padding:45px 5px;
}
